
// COLOR PALETTE
// ================================
$white:				#ffffff;
$gray-lightest:		#f8fafc;
$gray-lighter:		#e6edf4;
$gray-light:		#dfe1e2;
$gray:				#636464;

$blue:				#2F9CFD;
$green:				#37BC9B;
$red:				#DA4453;
$orange:			#FFA400;
$yellow:			#F7CA18;
$purple:			#9152FF;

// TEMPLATE MAIN COLOR
// ================================
$template-main-color: $blue;

// FONT
// ================================
$body-font-color: $gray;

// SECTION PADDINGS
// ================================
$section-padding: 60px 0;
$section-padding-lg: 80px 0;
$section-padding-xl: 120px 0;

// NAVIGATION COLORS
//===================================
$background-color: 		$white;
$font-color:			$gray;
$font-color-hover:		$template-main-color;
$border-color:			$gray-light;

// Navbar
$navbar-background-color: 					transparent;

// Brand
$brand-font-color: 							$white;

// Toggle button
$toggle-icon-color: 						$white;

// Offcanvas panel
$offcanvas-background-color: 				$background-color;
$offcanvas-close-icon-color: 				$font-color;

// Menu item
$menu-item-font-color: 						$gray-lightest;
$menu-item-font-color-hover: 				$white;

// Search button
$search-button-background-color:			transparent;
$search-button-icon-color:					$gray-lightest;
$search-button-icon-color-hover: 			$white;

// Search panel
$search-panel-background-color: 			$background-color;
$search-panel-font-color:					$font-color;
$search-panel-close-icon-color: 			$font-color;

















